* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: 100%;
}

.bars-move {
    height: 70%;
    background: #4a90e2;
}

.bars-move:nth-child(1) {
    width: 90%;
    justify-self: start;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}

.bars-move:nth-child(2) {
    width: 70%;
    justify-self: end;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
}

.bars-move:nth-child(3) {
    width: 60%;
    justify-self: start;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}

.bars-move:nth-child(4) {
    width: 85%;
    justify-self: end;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
}

.bars-move:nth-child(5) {
    width: 170%;
    justify-self: start;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}