* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    margin-top: 5%;
    overflow: hidden;
}

label {
    font-size: 24px;
}

.corpo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 35px;
}

.ipt-txt {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
}

.ipt-txt input {
    width: 100%;
    height: 32px;
    padding-left: 5px;
    border-radius: 8px;
    border: 1px solid;
}

.ipt-btn {
    align-self: flex-end;
}

.ipt-btn input {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #a3a3a3;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.ipt-btn input:hover {
    cursor: pointer;
    background: #999999;
}

span {
    font-size: 20px;
    font-weight: 400;
}